@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

:root {
    --screen-breakpoint: 600px;

    --colYellow: #fbbe0c;
    --colGreen: #acc710;
    --colBlue: #48b8e5;
    --colPink: #844591;
    --colRed: #e64521;
    
    --col-primary: var(--colBlue);

    --shadow-col: rgba(49, 43, 43, 0.5);
    --float-shadow: 5px 5px 20px var(--shadow-col);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgba(0, 0, 0, .5); */
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.detail > p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-top: 14px;
}

.hidden {
    display: none!important;
}

.btn-container {
    margin-top: 10%;
    padding-right: var(--main-padding);
    width: 100%;
    display: flex;
    /* flex-grow: 1; */
    /* justify-content: space-around; */
    gap: 50px;
}

a.btn-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    /* background-color: var(--btn-clr); */
    padding: 16px;
    flex-grow: 1;
    text-align: center;
    border-radius: 30px;
    box-shadow: var(--float-shadow);
}

.btn-primary {
    background-color: var(--col-primary);
    color: #fff;
}

.btn-secondary {
    /* border: var(--colBlue) 2px solid; */
    color: var(--col-primary);
}

/* =====----- flip board -----===== */
flip-board {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.flip-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.flipper {
    width: var(--flipSize);
    height: var(--flipSize);
    transition: .2s;
    transform: rotate3d(-1, -1, 0, 0);
    transform-style: preserve-3d;
}

.flipper::before, .flipper::after {
    border: 1px solid #fff;
    /* border-radius: 50%; */
}

.flipper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    backface-visibility: hidden;
    z-index: 2;
}

.flipper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--randCol);
}

.flipped {
    transform: rotate3d(-1, -1, 0, 180deg);
}

/* =====----- bounce text -----===== */

bounce-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: var(--bounce-size);
    position: relative;
    /* bottom: calc(var(--bounce-size) / 3); */
    display: flex;
    align-items: flex-end;
    height: calc(var(--bounce-size) * 1.75);
}

bounce-text > span {
    cursor: default;
}

bounce-text > span:hover {
    height: 100%;
}